.container {
  // background-color: lightskyblue;
  display: grid;
  grid-template-columns: 55% 45%;
}

.arabic {
  text-align: end;
}

.english {
  text-align: start;
}

.heading {
  font-size: 1.75rem;
}

.detail {
  font-size: 1rem;
}

.recordingContainer {
  // background-color: lavender;
  padding: 0 4rem;
}

.recorder {
  align-items: center;
  display: flex;

  audio {
    margin: 0 2rem;
  }
}

.timer {
  margin-top: 1rem;
}

.sample {
  margin-right: 1rem;
}

.buttons-list {
  margin: 1.5rem 0;

  button:disabled {
    opacity: 0.5;
  }
}

.samplesContainer {
  // background-color: pink;
  padding: 1rem 4rem 0 4em;
}
