.container {
  background: linear-gradient(28deg, rgba(13, 0, 58, 1) 0%, rgba(13, 0, 58, 1) 43%, rgba(34, 202, 177, 1) 100%);
  display: grid;
  grid-template-columns: 55% 45%;
  height: 100vh;
  overflow: auto;
  padding: 10px 45px;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 1rem;
}

.right {
  display: block;
}
