.container {
  bottom: 10%;
  margin-top: 1.5rem;
  position: fixed;
  right: 0;
}

.button {
  background-color: $smm-green;
  border-radius: 10px 0 0 10px;
  color: #fff;
  font-weight: 500;
  line-height: 30px;
}
