.container {
  color: #fff;
  margin: 2rem 3rem 4rem 1rem;

  h1 {
    font-weight: 400;
    line-height: 5rem;
    text-transform: uppercase;
  }
}

.divider {
  background: linear-gradient(-90deg, #e8fffc -0.87%, #22cab1 5.21%, #0d003a 145.37%);
  height: 1px;
  margin: 1rem 0;
}
