// .button {
//   position: fixed;
//   bottom: 10%;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width: 184.26px;
//   height: 45px;
//   border-radius: 10px;
//   color: $black;
//   span {
//     font-weight: 700;
//     @include localize(font-size, 25px, 20px);
//     @include localize(line-height, 35px, 27px);
//   }
//   img {
//     width: 29.88px;
//     height: 29.99px;
//     margin-left: 10px;
//   }
// }

// .modal {
//   background: linear-gradient(
//     28deg,
//     rgba(13, 0, 58, 1) 0%,
//     rgba(13, 0, 58, 1) 43%,
//     rgba(34, 202, 177, 1) 100%
//   );
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   z-index: 9999;
//   display: flex;
// }

// .container {
//   width: 1700px;
//   margin: auto;
//   position: relative;
// }

// .secondaryContainer {
//   border: 2.5px solid $smm-green;
//   background: $white;
//   box-shadow: 0px 7px 15px 3px rgba(13, 0, 58, 0.5);
//   border-radius: 14px;
//   display: flex;
//   align-items: center;
//   overflow: hidden;
//   padding: 0 50px;
// }

// .cross {
//   position: absolute;
//   top: 0;
//   right: 0;
//   transform: translate(50%, -50%);
//   width: 50px;
//   height: 50px;
//   border-radius: 50%;
// }

// .imageContainer {
//   flex: 4;
//   .image {
//     display: block;
//     width: 100%;
//     height: auto;
//   }
// }

// .textContainer {
//   padding: 50px 0;
//   flex: 3;
//   color: $black;

//   h3 {
//     font-size: 40px;
//     padding-bottom: 10px;
//     display: inline-block;
//     font-weight: 700;
//     border-bottom: 1px solid $black;
//   }

//   .bulletPointContainer {
//     margin-top: 30px;
//     display: grid;
//     grid-template-rows: repeat(4, auto);
//     grid-gap: 80px;
//   }

//   .bulletPoint {
//     display: flex;
//     @include localize(flex-direction, row-reverse, row);

//     .text {
//       font-weight: 500;
//       max-width: 450px;
//       flex: 1;
//       @include localize(font-size, 22px, 20px);
//       @include localize(margin-right, 20px, 0);
//       @include localize(margin-left, 0, 20px);
//     }

//     .number {
//       font-weight: 900;
//       font-size: 70px;
//       background: $smm-green;
//       color: $white;
//       width: 90px;
//       height: 90px;
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       font-family: $smm-default-font-en-heading;
//     }
//   }
// }
