.container {
  background: linear-gradient(180deg, #0d003a 0%, #0d003a 0.01%, #242466 100%);
  border: 2px solid $smm-green;
  border-radius: 20px;
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 45%;
  justify-content: space-around;
  padding: 10vh 5vh;
}

.progressBar {
  border: 1px solid;
  color: white;
  height: 2.5vh;
  line-height: 30px;
  text-align: center;

  div {
    height: -webkit-fill-available;
    width: 0;
  }
}

.red {
  background: linear-gradient(28deg, rgba(0, 0, 0, 1) 0%, $smm-red 100%);
}

.green {
  background: linear-gradient(28deg, rgba(0, 0, 0, 1) 0%, $smm-green 100%);
}

.buttonsContainer {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 40%;

  button {
    align-items: center;
    background: #fff;
    border-radius: 50%;
    display: flex;
    height: 5vh;
    justify-content: center;
    width: 5vh;

    &[disabled] {
      opacity: 0.7;
      pointer-events: none;
    }
  }

  img {
    width: 3.5vh;
  }
}
