.container {
  @extend .audioContainer;

  height: 450px;
}

.info {
  padding-top: 100px;
  @include localize(font-size, 30px, 25px);
  @include localize(font-weight, 700, 400);
  @include localize(line-height, 32px, 34px);
}

.progressBar {
  border: 2px solid;
  height: 22.61px;
  margin: 35px 0;
  div {
    height: 19px;
    width: 0;
  }
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  width: 40%;

  button {
    background: none;
    align-items: center;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    &[disabled] {
      opacity: 0.7;
      pointer-events: none;
    }
    &:active {
      opacity: 0.7;
    }
    img {
      display: block;
    }
  }

  button:nth-child(1) {
    width: 75px;
    height: 75px;
    margin: 0 auto;
    img {
      width: 75px;
      height: 75px;
    }
  }
  button:nth-child(2) {
    width: 40px;
    height: 40px;
    margin: 35px auto;
    img {
      width: 40px;
      height: 40px;
    }
  }
}

// TESTING
@media screen and (max-width: 1600px) {
  .container {
    width: 100%;
  }
}
