.container {
  background: linear-gradient(
    180deg,
    $smm-black 0%,
    $smm-black 0.01%,
    $smm-dark-blue 100%
  );
  border: 2px solid $smm-green;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 950px;
  height: 450px;
  padding: 25px 50px;
}

.info {
  @include localize(font-size, 30px, 25px);
  @include localize(font-weight, 700, 400);
  @include localize(line-height, 32px, 34px);
}

.progressBar {
  border: 1px solid;
  height: 22.61px;
  margin: 35px 0 65px 0;
  div {
    height: 21px;
    width: 0;
  }
}

.buttonsContainer {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 40%;

  button {
    background: none;
    align-items: center;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    width: 45px;
    height: 45px;
    &[disabled] {
      opacity: 0.7;
      pointer-events: none;
    }
    &:active {
      opacity: 0.7;
    }
  }
  img {
    display: block;
    width: 45px;
    height: 45px;
  }
}

// TESTING
@media screen and (max-width: 1600px) {
  .container {
    width: 100%;
  }
}
