html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: $smm-default-font;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.ar-qa .formatted {
  text-align: right;
}
