html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: $smm-default-font-en;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

button {
  border-color: transparent;
  border-radius: 5px;
}

.ar-qa {
  font-family: $smm-default-font-ar;
}

.ar-qa .formatted {
  text-align: right;
}
