*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  color: $white;
  font-family: $smm-default-font-ar;
  text-align: right;
  user-select: none;

  &.en-us {
    font-family: $smm-default-font-en;
    text-align: left;
  }
}

*:focus,
*:focus-visible {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

img {
  -webkit-user-drag: none;
}

p {
  margin: 0;
}

button {
  border: 0;
  color: $white;
  font-family: inherit;
  padding: 0;
}
