@font-face {
  font-family: 'Open Sans';
  src: url('../utils/fonts/OpenSans-Regular.woff2') format('woff2'),
    url('../utils/fonts/OpenSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../utils/fonts/Montserrat-Medium.woff2') format('woff2'),
    url('../utils/fonts/Montserrat-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../utils/fonts/Montserrat-Bold.woff2') format('woff2'),
    url('../utils/fonts/Montserrat-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../utils/fonts/Montserrat-Black.woff2') format('woff2'),
    url('../utils/fonts/Montserrat-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tajawal';
  src: url('../utils/fonts/Tajawal-Bold.woff2') format('woff2'),
    url('../utils/fonts/Tajawal-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tajawal';
  src: url('../utils/fonts/Tajawal-Medium.woff2') format('woff2'),
    url('../utils/fonts/Tajawal-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
