.audioContainer {
  background: linear-gradient(
    180deg,
    $smm-black 0%,
    $smm-black 0.01%,
    $smm-dark-blue 100%
  );
  border: 2px solid $smm-green;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  width: 950px;
  padding: 30px 50px 0 50px;
}
