// Colors
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);

$smm-blue: rgb(36, 169, 228);
$smm-dark-blue: rgb(29, 77, 169);
$smm-dark-gray: rgb(60, 56, 56);
$smm-green: rgba(34, 202, 177, 1);
$smm-gold: rgb(254, 214, 0);
$smm-light-gray: rgb(173, 173, 174);
$smm-orange: rgb(240, 91, 54);

// Fonts
$smm-default-font-en: montserrat, arial, sans-serif;
$smm-default-font-ar: tajawal, arial, sans-serif;
