// Colors
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);

$smm-black: #0d003a;
// $smm-blue: rgb(36, 169, 228);
// $smm-dark-blue: rgb(29, 77, 169);
$smm-dark-blue: #242466;
$smm-light-blue: rgba(0, 225, 217, 1);
// $smm-black-blue: rgb(115, 109, 143);
// $smm-dark-gray: rgb(60, 56, 56);
$smm-green: #22cab1;
// $smm-red: rgba(255, 0, 24, 1);
// $smm-gold: rgb(254, 214, 0);
// $smm-light-gray: rgb(173, 173, 174);
// $smm-orange: rgb(240, 91, 54);

// Fonts
$smm-default-font-en-heading: montserrat, arial, sans-serif;
$smm-default-font-en: 'Open Sans', arial, sans-serif;
$smm-default-font-ar: tajawal, arial, sans-serif;
